@model University.BL.DTOs.StudentDTO

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.ValidationSummary(false,"", new {@class = "text-danger" })

<form action="/Students/Create" method="post">

    <div class="form-row">
        
        <div class="col-md-4">

            @Html.LabelFor(m => m.LastName)
            @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name",@autocomplete= "off" } })
            @Html.ValidationMessageFor(x => x.LastName,"",new {@class = "text-danger" })
    
    @*<label>Last Name:</label>
        <input type="text" name="LastName" placeholder="Enter the Last Name" class="form-control" />
            *@
        </div> 
        <div class="col-md-4">

            @Html.LabelFor(m => m.FirstMidName)
            @Html.EditorFor(m => m.FirstMidName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enterthe FirstMid Name", @autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.FirstMidName, "", new { @class = "text-danger" })
            @*
        <label>FirstMid Name:</label>
        <input type="text" name="FirstMidName" placeholder="Enter the FirstMid Name" class="form-control" />
            *@
        </div>
        <div class="col-md-4">

            @Html.LabelFor(m => m.EnrollmentDate)
            @Html.EditorFor(m => m.EnrollmentDate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter  the Enrollment Date", @autocomplete = "off" } })
            @Html.ValidationMessageFor(x => x.EnrollmentDate, "", new { @class = "text-danger" })
            @*
        <label>Enrollment Date:</label>
        <input type="datetime" name="EnrollmentDate" placeholder="Enter the Enrollment Date" class="form-control" />
            *@

        </div>
    </div>

    <div class="form-row">
        <div class="col-md-12">
            <br />
            <input type="submit" name="btnCreate" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Back", "Index", "Students", null, new { @class = "btn btn-primary" })

        </div>
    </div>

</form>